* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  display: grid;
}

h1 {
  font-size: 2rem;
  margin-block-end: 0.25em;
}

h2 {
  font-size: 1.35rem;
  margin-block-end: 1em;
}

p {
  margin-block-end: 1.5em;
}

.announcement-bar {
  padding: 0.75em 3em;
  font-size: 0.9375rem;
  text-align: center;
  color: #fff;
  background-color: #081a28;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  gap: 1em 2em;
  padding: 1.25em 3em;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 #eee;
  position: sticky;
  top: 0;
}

.site-header-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.site-header-nav {
  display: flex;
  align-items: center;
  gap: clamp(0.5rem, 2.5vw, 3rem);
}

.site-header-nav a {
  font-weight: 500;
  color: #081a28;
  text-decoration: none;
  transition: color 0.3s ease;
}

.site-header-nav a:hover,
.site-header-nav a:focus-visible {
  color: #709fb9;
}

.site-header-nav a:focus-visible {
  outline: 1px solid #709fb9;
  outline-offset: 4px;
}

.hero {
  aspect-ratio: 16 / 5;
}

.hero img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.content {
  padding-block: 2rem;
}

.site-footer {
  block-size: 10rem;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 15px,
    #b8d4e3 15px,
    #b8d4e3 16px
  );
}

.banner {
  font-size: 1.5rem;
  line-height: 1.25;
  text-align: center;
  color: #081a28;
  background-image: linear-gradient(to right, #b8d4e3, #a6cde2);
  padding: 2.5rem;
  margin-block-end: 2rem;
}

.icon {
  display: block;
  font-size: 3rem;
}

body {
  --gutter: 3rem;
  display: grid;
  grid-template-columns:
    [page-start] 
    minmax(var(--gutter), 1fr)
    [content-start] 
    min(100% - (var(--gutter) * 2), 80ch)
    [content-end]
    minmax(var(--gutter), 1fr)
    [page-end];
}

/* Using named grid lines */
.announcement-bar {
  grid-column: page-start / page-end;
}

.site-header {
  grid-column: page-start / page-end;
}

.hero {
  grid-column: page-start / page-end;
}

.content {
  grid-column: content-start / content-end;
}

.site-footer {
  grid-column: page-start / page-end;
}