* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
    color: #fff;
    background-color: #000;

}
h1 {
  font-weight: 700;
  font-size: clamp(1.8rem, 5vw, 6rem);
}

h2 {
  font-weight: 500;
  font-size: clamp(1.25rem, 3vw, 4rem);
}
.cards {
  display: grid;
  /* grid-template-columns: repeat(5, minmax(100px, 1fr)); */
  margin-block: 2rem;
  justify-content: center;
  align-items: center;

}

.grid-auto-fill {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.grid-auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.grid-auto-fill .card {
  background-color: #ac9afd;
}

.grid-auto-fit .card {
  background-color: #f7a0c1;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  font-size: 1.5rem;
  color: #070707;
  border: 5px solid currentColor;
  border-radius: 0.5rem;
  outline: 1px dotted currentColor;
  outline-offset: -15px;
}
